**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/Dockerfile*
**/azds.yaml
**/charts
**/docker-compose*
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
.dockerignore
.git/
.github/
.gitignore
CHANGELOG.md
Dockerfile
Makefile
README.md
deployment.yaml
log/