- step = @workflow.current_step
- values = step.values( @workflow )

.select-dates
  %h1
    Which time period should the report cover?

  %p
    The report can be broken down by year, quarter or month. If you request
    more than one period (e.g. three years), you will receive three downloadable
    reports one for each selected period.

  = form_tag( @workflow.form_action, method: "get" ) do
    = layout_existing_values( @workflow )

    %ul.nav.nav-tabs{ role: :tablist}
      %li.active{ role: :presentation }
        %a{ href: "#latest_dates", role: :tab, aria: {controls: :latest_dates}, data: {toggle: :tab} }
          Latest available
      %li{ role: :presentation }
        %a{ href: "#by_year", role: :tab, aria: {controls: :by_year}, data: {toggle: :tab} }
          By year
      %li{ role: :presentation }
        %a{ href: "#by_quarter", role: :tab, aria: {controls: :by_quarter}, data: {toggle: :tab} }
          By quarter
      %li{ role: :presentation }
        %a{ href: "#by_month", role: :tab, aria: {controls: :by_month}, data: {toggle: :tab} }
          By month

    .tab-content
      #latest_dates.tab-pane.active{ role: :tabpanel }
        %h2 Latest available

        %p
          These options provide the latest data available for the given option. If you
          re-load the same report at a later date, the report will be automatically
          updated.

        = layout_values_as_toggle_buttons_list( step.param_name, values[:latest], false )

        = layout_submit_button

      #by_year.tab-pane{ role: :tabpanel }
        %p
          By year
      #by_quarter.tab-pane{ role: :tabpanel }
        %p
          By quarter
      #by_month.tab-pane{ role: :tabpanel }
        %p
          By month
