.select-options
  = render partial: "progress_indicator", locals: {workflow: @workflow}

  %h1
    Additional options

  %p
    You can restrict the report to only show properties that have just been built, or not:

  = workflow_step_form( @workflow )
