.select-report
  %h1
    Select a report type

  %p
    Different types of report can be created over the price paid data.
    Please choose one of the following:

  = workflow_step_form( @workflow )
