= render partial: "help"
.select-county

  %h1.heading-medium
    = render partial: "progress_indicator", locals: {workflow: @workflow}
    Select a county

  %p
    Enter the name of the county you wish the report to cover:

  = workflow_step_form( @workflow )

  :javascript
    $( function() {
      $("[name=area]").autocomplete( {
        source: window.lr.data.county
      } );

      // Tell MapSearch where to put selected values
      window.MapSearch.selectionCallback( function( value ) {
        $("[name=area]").val( value );
      } );

      // Get the county outlines, then initialise the map
      $.getJSON( Routes.root_path() + "county-features.json" )
       .done( window.MapSearch.init );
    } );
