.select-county

  %h1
    = render partial: "progress_indicator", locals: {workflow: @workflow}
    Select a county

  %p
    Enter the name of the county you wish the report to cover:

  = workflow_step_form( @workflow )

  :javascript
    $( function() {
      $("[name=area]").autocomplete( {
        source: window.lr.data.county
      } )
    } );
