.select-region
  = render partial: "progress_indicator", locals: {workflow: @workflow}

  %h1
    Select a region

  %p
    Choose which region of the country the report should cover:

  = workflow_step_form( @workflow )
