.select-aggregation-type
  = render partial: "progress_indicator", locals: {workflow: @workflow}

  %h1
    How do you want to group the data within '#{selected_area_summary( @workflow )}'?

  %p
    Within the region you've selected, house price data can be aggregated
    or grouped by smaller areas. For example, the data for one county could
    be grouped by the administrative districts within that county.

  = workflow_step_form( @workflow )
