.select-pc-district

  %h1.heading-medium
    = render partial: "progress_indicator", locals: {workflow: @workflow}
    Select a postcode district

  %p
    Choose which postcode district the report should cover. A postcode area is
    the first part of a UK postcde, up to the space. For example &quot;B17&quot;
    or &quot;TA9&quot;

  = workflow_step_form( @workflow )
