.select-area-type
  = render partial: "progress_indicator", locals: {workflow: @workflow}

  %h1
    Which sort of geographical area do you want to cover?

  %p
    Reports can cover diffent types of geographical area, from
    the whole country down to districts or postcode regions.
    Please select the type of geographical area you want the report
    to cover:

  = workflow_step_form( @workflow )
