.select-options

  %h1.heading-medium
    = render partial: "progress_indicator", locals: {workflow: @workflow}
    Additional options

  %p
    You can restrict the report to only show properties that have just been built, or not:

  = workflow_step_form( @workflow )
